<div class="h-[80vh] w-full flex items-center justify-center bg-cover bg-center text-center">
  <h1 class="text-xl font-semibold dark:text-white text-center">Please disable <span
      class="text-danger">Adblocker</span> or <span class="text-danger">Brave shield</span>.<br><span class="text-warning-500">Ads</span> will help maintain
    this tool. Thank you!.

    <div class="mt-4">If you want to disable ads,<br>you may donate thru this address:<br><span class="text-warning-500 cursor-pointer" (click)="copy()">0x2548696795a3bCd6A8fAe7602fc26DD95A612574</span></div></h1>
</div>
