
<div class="pt4 flex justify-center items-center text-center">
  <app-ads provider="coinserom" type="728x90"></app-ads>
</div>
<div class="px-2 pt-4">

  <div class="grid grid-cols-1 px-4 pt-6 xl:grid-cols-3 xl:gap-4
    dark:bg-gray-900">
    <!-- Right Content -->
    <div class="col-span-full xl:col-auto">
      <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg
        shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6
        dark:bg-gray-800">
        <h3 class="mb-4 text-xl font-semibold dark:text-white">Language &amp;
          Time</h3>
        <div class="mb-4">
          <label for="settings-language" class="block mb-2 text-sm font-medium
            text-gray-900 dark:text-white">Select language</label>
          <select id="settings-language" name="countries" class="bg-gray-50
            border-gray-300 text-gray-900 sm:text-sm rounded-lg
            focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5
            dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
            dark:text-white dark:focus:ring-primary-500
            dark:focus:border-primary-500" (change)="setLanguage($event)">
            <option [value]="language.value" *ngFor="let language of languages;
              let i=index" [selected]="language.value ===
              configService.language">{{language.text}}</option>
          </select>
        </div>
        <div class="mb-6">
          <label for="settings-timezone" class="block mb-2 text-sm font-medium
            text-gray-900 dark:text-white">Time Zone</label>
          <select id="settings-timezone" name="countries" class="bg-gray-50
            border-gray-300 text-gray-900 sm:text-sm rounded-lg
            focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5
            dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
            dark:text-white dark:focus:ring-primary-500
            dark:focus:border-primary-500" (change)="setTimezone($event)">
            <option [value]="timezone.utc[0]" *ngFor="let timezone of timezones;
              let i=index" [selected]="configService.timezone ===
              timezone.utc[0]">{{timezone.text}}</option>
          </select>
        </div>
      </div>
      <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg
        shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6
        dark:bg-gray-800">
        <h3 class="mb-4 text-xl font-semibold dark:text-white">Data</h3>
        <div class="grid grid-cols-6 gap-6">
          <div class="col-start-1 col-span-6 sm:col-span-3">
            <label for="settings-language" class="block mb-2 text-sm font-medium
              text-gray-900 dark:text-white">Import Data</label>
            <div class="mt-6">
              <button class="text-white bg-success-700 hover:bg-success-800
                focus:ring-4 focus:ring-success-300 font-medium rounded-lg
                text-sm
                px-5 py-2.5 text-center dark:bg-success-600
                dark:hover:bg-success-700 dark:focus:ring-success-800" (click)="showImport()">Import</button>
            </div>
          </div>
          <div class="col-start-1 col-span-6 sm:col-span-3">
            <label for="settings-language" class="block
              mb-2 text-sm font-medium
              text-gray-900 dark:text-white">Export Data</label>
            <div class="mt-6">
              <button class="text-white bg-primary-700 hover:bg-primary-800
                focus:ring-4 focus:ring-primary-300 font-medium rounded-lg
                text-sm
                px-5 py-2.5 text-center dark:bg-primary-600
                dark:hover:bg-primary-700 dark:focus:ring-primary-800" (click)="exportData()">Export</button>
            </div></div>
        </div>
      </div>
    </div>
    <div class="col-span-2">
      <!-- general config -->
      <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg
        shadow-sm 2xl:col-span-3 dark:border-gray-700 sm:p-6
        dark:bg-gray-800">
        <h3 class="mb-4 text-xl font-semibold dark:text-white">General
          Configurations</h3>
        <div class="grid grid-cols-6 gap-6">
          <div class="col-start-1 col-span-6 sm:col-span-2">
            <label for="first-name" class="block mb-2 text-sm font-medium
              text-gray-900 dark:text-white">Chain</label>
            <select id="select-chain" name="countries" class="bg-gray-50
              border-gray-300 text-gray-900 sm:text-sm rounded-lg
              focus:ring-primary-500 focus:border-primary-500 block w-full
              p-2.5
              dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
              dark:text-white dark:focus:ring-primary-500
              dark:focus:border-primary-500" (change)="setChain($event)">
              <option [value]="chain" class="uppercase" *ngFor="let chain of
                web3Service.chains" [selected]="chain === configService.chain">{{chain}}</option>
            </select>
          </div>
          <div class="col-start-1 col-span-6 sm:col-span-2">
            <label for="last-name" class="block mb-2 text-sm font-medium
              text-gray-900 dark:text-white">Currency</label>
            <select id="select-currency" name="countries" class="bg-gray-50
              border-gray-300 text-gray-900 sm:text-sm rounded-lg
              focus:ring-primary-500 focus:border-primary-500 block w-full
              p-2.5
              dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
              dark:text-white dark:focus:ring-primary-500
              dark:focus:border-primary-500 uppercase"
              (change)="setCurrency($event)">
              <option [value]="currency" class="uppercase" *ngFor="let currency
                of currencyService.currencies" [selected]="currency ===
                configService.currency">{{currency}}</option>
            </select>
          </div>
          <div class="col-start-1 col-span-6 sm:col-span-2">
            <label for="country" class="block mb-2 text-sm font-medium
              text-gray-900 dark:text-white">Version</label>
            <select id="select-version" name="countries" class="bg-gray-50
              border-gray-300 text-gray-900 sm:text-sm rounded-lg
              focus:ring-primary-500 focus:border-primary-500 block w-full
              p-2.5
              dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
              dark:text-white dark:focus:ring-primary-500
              dark:focus:border-primary-500"
              (change)="configService.toggleVersion()">
              <option [value]="version" class="uppercase" *ngFor="let version of
                [1, 2]" [selected]="version === configService.version">V{{version}}</option>
            </select>
          </div>
          <div class="col-start-1 col-span-6 sm:col-span-2">
            <label for="country" class="block mb-2 text-sm font-medium
              text-gray-900 dark:text-white">Fight Multiplier</label>
            <select id="select-version" name="countries" class="bg-gray-50
              border-gray-300 text-gray-900 sm:text-sm rounded-lg
              focus:ring-primary-500 focus:border-primary-500 block w-full
              p-2.5
              dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
              dark:text-white dark:focus:ring-primary-500
              dark:focus:border-primary-500"
              (change)="setFightMultiplier($event)">
              <option [value]="multiplier" class="uppercase" *ngFor="let multiplier of
                [1, 2, 3, 4, 5]" [selected]="multiplier === configService.fightMultiplier">x{{multiplier}} ({{multiplier * 40}} Stamina)</option>
            </select>
          </div>
          <div class="col-start-1 col-span-6 sm:col-span-2">
            <div class="flex items-center justify-between py-4">
              <div class="flex flex-col flex-grow">
                <div class="text-lg font-semibold text-gray-900
                  dark:text-white">Dark Mode</div>
                <div class="text-base font-normal text-gray-500
                  dark:text-gray-400">Toggle light/dark theme</div>
              </div>
              <label for="toggle-theme" class="relative flex items-center
                cursor-pointer">
                <input type="checkbox" id="toggle-theme" class="sr-only"
                  [checked]="configService.theme === 'dark'"
                  (click)="themeService.toggleDarkMode()">
                <span class="h-6 bg-gray-200 border border-gray-200
                  rounded-full
                  w-11 toggle-bg dark:bg-gray-700 dark:border-gray-600"></span>
              </label>
            </div>
          </div>
          <div class="col-start-1 col-span-6 sm:col-span-2">
            <div class="flex items-center justify-between py-4">
              <div class="flex flex-col flex-grow">
                <div class="text-lg font-semibold text-gray-900
                  dark:text-white">Display Local Currency</div>
                <div class="text-base font-normal text-gray-500
                  dark:text-gray-400">Displays tokens/balance in local currency</div>
              </div>
              <label for="toggle-currency" class="relative flex items-center
                cursor-pointer">
                <input type="checkbox" id="toggle-currency" class="sr-only"
                  [checked]="configService.display" (click)="toggleDisplay()">
                <span class="h-6 bg-gray-200 border border-gray-200
                  rounded-full
                  w-11 toggle-bg dark:bg-gray-700 dark:border-gray-600"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <!-- end general config -->

      <!-- rpc urls -->
      <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg
        shadow-sm 2xl:col-span-3 dark:border-gray-700 sm:p-6
        dark:bg-gray-800">
        <h3 class="mb-4 text-xl font-semibold dark:text-white">RPC Urls
          (Temporarily Free)</h3>
        <div class="grid grid-cols-6 gap-6">

          <div class="col-span-6 sm:col-span-3" *ngFor="let chain of
            web3Service.chains; let i=index">
            <label [for]="'chain-rpc-' + chain" class="block mb-2 text-sm
              font-medium
              text-gray-900 dark:text-white uppercase">{{chain}}</label>
            <input type="text" [name]="'chain-rpc-' + chain" [id]="'chain-rpc-'
              + chain"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900
              sm:text-sm rounded-lg focus:ring-primary-500
              focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700
              dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
              dark:focus:ring-primary-500 dark:focus:border-primary-500"
              required="" [value]="web3Service.getChainRpc(chain)"
              (change)="setRpcUrl($event)" [attr.data-chain]="chain">
          </div>

        </div>
      </div>
      <!-- end rpc urls -->
      <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg
        shadow-sm 2xl:col-span-3 dark:border-gray-700 sm:p-6
        dark:bg-gray-800">
        <h3 class="text-xl font-semibold dark:text-white">Alerts &amp;
          Notifications (Temporarily Free)</h3>
        <div class="divide-y divide-gray-200 dark:divide-gray-700">
          <div class="flex items-center justify-between py-4">
            <div class="flex flex-col flex-grow">
              <div class="text-lg font-semibold text-gray-900
                dark:text-white">CryptoBlades News</div>
              <div class="text-base font-normal text-gray-500
                dark:text-gray-400">Get CryptoBlades news, announcements, and
                game updates</div>
            </div>
            <label for="news-alert" class="relative flex items-center
              cursor-pointer">
              <input type="checkbox" id="news-alert" class="sr-only" [checked]="configService.newsAlert" (click)="toggleNewsAlert()">
              <span class="h-6 bg-gray-200 border border-gray-200 rounded-full
                w-11 toggle-bg dark:bg-gray-700 dark:border-gray-600"></span>
            </label>
          </div>
          <div class="flex items-center justify-between py-4">
            <div class="flex flex-col flex-grow">
              <div class="text-lg font-semibold text-gray-900
                dark:text-white">Account Activity</div>
              <div class="text-base font-normal text-gray-500
                dark:text-gray-400">Get important notifications about account
                activities</div>
            </div>
            <label for="account-alert" class="relative flex items-center
              cursor-pointer">
              <input type="checkbox" id="account-alert" class="sr-only" [checked]="configService.accountAlert" (click)="toggleAccountAlert()">
              <span class="h-6 bg-gray-200 border border-gray-200 rounded-full
                w-11 toggle-bg dark:bg-gray-700 dark:border-gray-600"></span>
            </label>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
