<nav class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 left-0 border-b border-gray-200 dark:border-gray-600">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto
    p-4">
    <a routerLink="/tracker/home" class="flex items-center">
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap
        dark:text-white"><span class="text-warning-500">CB</span> Tracker</span>
    </a>
    <div class="flex items-center md:order-2">
      <!-- theme switch -->
      <button
        id="theme-toggle"
        type="button"
        class="text-gray-500 dark:text-gray-400 hover:bg-gray-100
        dark:hover:bg-gray-700 focus:outline-none focus:ring-4
        focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5" (click)="toggleTheme()">
        <svg
          id="theme-toggle-dark-icon"
          class="w-5 h-5"
          [ngClass]="configService.theme === 'dark' ? 'hidden' : ''"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586
            10.586z"></path>
        </svg>
        <svg
          id="theme-toggle-light-icon"
          class="w-5 h-5"
          [ngClass]="configService.theme !== 'dark' ? 'hidden' : ''"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0
            4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1
            0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0
            11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0
            100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05
            6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414
            1.414l.707.707zm1.414 8.486l-.707.707a1 1 0
            01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1
            0 000 2h1z"
            fill-rule="evenodd"
            clip-rule="evenodd"></path>
        </svg>
      </button>
      <!-- end theme switch -->
      <!-- version switch -->
      <button
        id="version-toggle"
        type="button"
        (click)="toggleVersion()"
        class="inline-flex items-center font-medium justify-center px-4 py-2
        text-sm text-gray-900 dark:text-white rounded-lg cursor-pointer
        hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white
        uppercase">
        {{configService.version === 1 ? 'v1' : 'v2'}}
      </button>
      <!-- version switch -->
      <button
        id="currency-btn"
        type="button"
        (click)="showCurrencyDrawer()"
        class="inline-flex items-center font-medium justify-center px-4 py-2
        text-sm text-gray-900 dark:text-white rounded-lg cursor-pointer
        hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white
        uppercase">
        {{configService.currency}}
      </button>
      <button
        id="chain-btn"
        type="button"
        (click)="showChainDrawer()"
        class="inline-flex items-center font-medium justify-center px-4 py-2
        text-sm text-gray-900 dark:text-white rounded-lg cursor-pointer
        hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
        <img [src]="getLogo(configService.chain)" class="h-5">
      </button>


      <!-- currency drawer -->
      <div id="currency-menu" #currencyMenu class="fixed top-0 right-0 z-40
        h-screen
        p-4 overflow-y-auto transition-transform translate-x-full bg-white w-80
        dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-right-label">
        <h5 id="currency-label" class="inline-flex items-center mb-4
          text-base font-semibold text-gray-500 dark:text-gray-400"><svg
            class="w-5 h-5 mr-2" aria-hidden="true" fill="currentColor"
            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path
              fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1
              0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0
              100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>Select
          Currency</h5>
        <ul class="py-2 font-medium" role="none">
          <li *ngFor="let currency of currencyService.currencies">
            <a [id]="'select-currency-' + currency" (click)="setCurrency(currency)"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100
              dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
              role="menuitem">
              <div class="inline-flex items-center uppercase">
                {{currency}}
              </div>
            </a>
          </li>
        </ul>
      </div>
      <!-- chain drawer -->
      <div id="chain-menu" #chainMenu class="fixed top-0 right-0 z-40 h-screen
        p-4 overflow-y-auto transition-transform translate-x-full bg-white w-80
        dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-right-label">
        <h5 id="currency-label" class="inline-flex items-center mb-4
          text-base font-semibold text-gray-500 dark:text-gray-400"><svg
            class="w-5 h-5 mr-2" aria-hidden="true" fill="currentColor"
            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path
              fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1
              0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0
              100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>Select
          Chain</h5>
        <ul class="py-2 font-medium" role="none">
          <li *ngFor="let chain of web3Service.chains">
            <a [id]="'select-chain-' + chain" (click)="setChain(chain)"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100
              dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
              role="menuitem">
              <div class="inline-flex items-center">
                <img [src]="getLogo(chain)" class="h-5 mr-3">
                {{chain.toUpperCase()}}
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- main menu-->

    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg
      md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2
      focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700
      dark:focus:ring-gray-600"
      aria-controls="navbar-default"
      aria-expanded="false">
      <span class="sr-only">Main Menu</span>
      <svg
        class="w-6 h-6"
        aria-hidden="true"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg">
        <path
          fill-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0
          011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110
          2H4a1 1 0 01-1-1z"
          clip-rule="evenodd"></path>
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100
        rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0
        md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a
            routerLink="/tracker/home"
            class="block py-2 pl-3 pr-4 text-white md:p-0 dark:text-white
            rounded bg-blue-700
            md:bg-transparent md:text-warning-700
            md:dark:text-warning-500"
            aria-current="page">Home</a>
        </li>
        <li>
          <a
            routerLink="/tracker/accounts"
            class="block py-2 pl-3 pr-4 rounded text-gray-900 hover:bg-gray-100
            md:hover:bg-transparent md:border-0 md:hover:text-warning-700 md:p-0
            dark:text-white md:dark:hover:text-warning-500 dark:hover:bg-gray-700
            dark:hover:text-white md:dark:hover:bg-transparent">Accounts</a>
        </li>
        <li>
          <a
            routerLink="/tracker/treasury"
            class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100
            md:hover:bg-transparent md:border-0 md:hover:text-warning-700 md:p-0
            dark:text-white md:dark:hover:text-warning-500 dark:hover:bg-gray-700
            dark:hover:text-white md:dark:hover:bg-transparent">Treasury</a>
        </li>
        <li>
          <a
            routerLink="/tracker/options"
            class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100
            md:hover:bg-transparent md:border-0 md:hover:text-warning-700 md:p-0
            dark:text-white md:dark:hover:text-warning-500 dark:hover:bg-gray-700
            dark:hover:text-white md:dark:hover:bg-transparent">Options</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
