<nav class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 left-0 border-b
  border-gray-200 dark:border-gray-600">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto
    p-4">
    <a routerLink="/tracker/" class="flex items-center">
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap
        dark:text-white"><span class="text-warning-500">CB</span> Tracker</span>
    </a>
    <div class="flex items-center md:order-2">
      <!-- alerts -->
      <button
        id="alert-toggle"
        type="button"
        class="relative inline-flex items-center text-gray-500
        dark:text-gray-400 hover:bg-gray-100
        dark:hover:bg-gray-700 focus:outline-none focus:ring-4
        focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 mr-1.5"
        (click)="showAlerts()">
        <svg fill="#ffffff" class="w-5 h-5" version="1.1"
          id="Capa_1" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 611.999
          611.999" xml:space="preserve" stroke="#ffffff" *ngIf="configService.theme === 'dark'"><g
            id="SVGRepo_bgCarrier" stroke-width="0"></g><g
            id="SVGRepo_tracerCarrier" stroke-linecap="round"
            stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <g>
                  <path
                    d="M570.107,500.254c-65.037-29.371-67.511-155.441-67.559-158.622v-84.578c0-81.402-49.742-151.399-120.427-181.203
                    C381.969,34,347.883,0,306.001,0c-41.883,0-75.968,34.002-76.121,75.849c-70.682,29.804-120.425,99.801-120.425,181.203v84.578
                    c-0.046,3.181-2.522,129.251-67.561,158.622c-7.409,3.347-11.481,11.412-9.768,19.36c1.711,7.949,8.74,13.626,16.871,13.626
                    h164.88c3.38,18.594,12.172,35.892,25.619,49.903c17.86,18.608,41.479,28.856,66.502,28.856
                    c25.025,0,48.644-10.248,66.502-28.856c13.449-14.012,22.241-31.311,25.619-49.903h164.88c8.131,0,15.159-5.676,16.872-13.626
                    C581.586,511.664,577.516,503.6,570.107,500.254z
                    M484.434,439.859c6.837,20.728,16.518,41.544,30.246,58.866H97.32
                    c13.726-17.32,23.407-38.135,30.244-58.866H484.434z
                    M306.001,34.515c18.945,0,34.963,12.73,39.975,30.082
                    c-12.912-2.678-26.282-4.09-39.975-4.09s-27.063,1.411-39.975,4.09C271.039,47.246,287.057,34.515,306.001,34.515z
                    M143.97,341.736v-84.685c0-89.343,72.686-162.029,162.031-162.029s162.031,72.686,162.031,162.029v84.826
                    c0.023,2.596,0.427,29.879,7.303,63.465H136.663C143.543,371.724,143.949,344.393,143.97,341.736z
                    M306.001,577.485
                    c-26.341,0-49.33-18.992-56.709-44.246h113.416C355.329,558.493,332.344,577.485,306.001,577.485z"></path>
                  <path
                    d="M306.001,119.235c-74.25,0-134.657,60.405-134.657,134.654c0,9.531,7.727,17.258,17.258,17.258
                    c9.531,0,17.258-7.727,17.258-17.258c0-55.217,44.923-100.139,100.142-100.139c9.531,0,17.258-7.727,17.258-17.258
                    C323.259,126.96,315.532,119.235,306.001,119.235z"></path>
                </g> </g> </g> </g></svg>
        <svg fill="#000000" class="w-5 h-5" version="1.1"
          id="Capa_1" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 611.999
          611.999" xml:space="preserve" stroke="#000000" *ngIf="configService.theme === 'light'"><g
            id="SVGRepo_bgCarrier" stroke-width="0"></g><g
            id="SVGRepo_tracerCarrier" stroke-linecap="round"
            stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <g>
                  <path
                    d="M570.107,500.254c-65.037-29.371-67.511-155.441-67.559-158.622v-84.578c0-81.402-49.742-151.399-120.427-181.203
                    C381.969,34,347.883,0,306.001,0c-41.883,0-75.968,34.002-76.121,75.849c-70.682,29.804-120.425,99.801-120.425,181.203v84.578
                    c-0.046,3.181-2.522,129.251-67.561,158.622c-7.409,3.347-11.481,11.412-9.768,19.36c1.711,7.949,8.74,13.626,16.871,13.626
                    h164.88c3.38,18.594,12.172,35.892,25.619,49.903c17.86,18.608,41.479,28.856,66.502,28.856
                    c25.025,0,48.644-10.248,66.502-28.856c13.449-14.012,22.241-31.311,25.619-49.903h164.88c8.131,0,15.159-5.676,16.872-13.626
                    C581.586,511.664,577.516,503.6,570.107,500.254z
                    M484.434,439.859c6.837,20.728,16.518,41.544,30.246,58.866H97.32
                    c13.726-17.32,23.407-38.135,30.244-58.866H484.434z
                    M306.001,34.515c18.945,0,34.963,12.73,39.975,30.082
                    c-12.912-2.678-26.282-4.09-39.975-4.09s-27.063,1.411-39.975,4.09C271.039,47.246,287.057,34.515,306.001,34.515z
                    M143.97,341.736v-84.685c0-89.343,72.686-162.029,162.031-162.029s162.031,72.686,162.031,162.029v84.826
                    c0.023,2.596,0.427,29.879,7.303,63.465H136.663C143.543,371.724,143.949,344.393,143.97,341.736z
                    M306.001,577.485
                    c-26.341,0-49.33-18.992-56.709-44.246h113.416C355.329,558.493,332.344,577.485,306.001,577.485z"></path>
                  <path
                    d="M306.001,119.235c-74.25,0-134.657,60.405-134.657,134.654c0,9.531,7.727,17.258,17.258,17.258
                    c9.531,0,17.258-7.727,17.258-17.258c0-55.217,44.923-100.139,100.142-100.139c9.531,0,17.258-7.727,17.258-17.258
                    C323.259,126.96,315.532,119.235,306.001,119.235z"></path>
                </g> </g> </g> </g></svg>
        <div class="absolute inline-flex items-center justify-center w-6 h-6
          text-xs font-bold text-white bg-red-500 border-2 border-white
          rounded-full -top-1 -right-1 dark:border-gray-900" *ngIf="alerts.length > 0">{{alerts.length}}</div>
      </button>
      <!-- end alerts -->
      <!-- theme switch -->
      <button
        id="theme-toggle"
        type="button"
        class="text-gray-500 dark:text-gray-400 hover:bg-gray-100
        dark:hover:bg-gray-700 focus:outline-none focus:ring-4
        focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5"
        (click)="toggleTheme()">
        <svg
          id="theme-toggle-dark-icon"
          class="w-5 h-5"
          [ngClass]="configService.theme === 'dark' ? 'hidden' : ''"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586
            10.586z"></path>
        </svg>
        <svg
          id="theme-toggle-light-icon"
          class="w-5 h-5"
          [ngClass]="configService.theme !== 'dark' ? 'hidden' : ''"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0
            4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1
            0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0
            11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0
            100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05
            6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414
            1.414l.707.707zm1.414 8.486l-.707.707a1 1 0
            01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1
            0 000 2h1z"
            fill-rule="evenodd"
            clip-rule="evenodd"></path>
        </svg>
      </button>
      <!-- end theme switch -->
      <!-- version switch -->
      <button
        id="version-toggle"
        type="button"
        (click)="toggleVersion()"
        class="inline-flex items-center font-medium justify-center px-4 py-2
        text-sm text-gray-900 dark:text-white rounded-lg cursor-pointer
        hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white
        uppercase">
        {{configService.version === 1 ? 'v1' : 'v2'}}
      </button>
      <!-- version switch -->
      <button
        id="currency-btn"
        type="button"
        (click)="showCurrencyDrawer()"
        class="inline-flex items-center font-medium justify-center px-4 py-2
        text-sm text-gray-900 dark:text-white rounded-lg cursor-pointer
        hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white
        uppercase">
        {{configService.currency}}
      </button>
      <button
        id="chain-btn"
        type="button"
        (click)="showChainDrawer()"
        class="inline-flex items-center font-medium justify-center px-4 py-2
        text-sm text-gray-900 dark:text-white rounded-lg cursor-pointer
        hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
        <img [src]="getLogo(configService.chain)" class="h-5">
      </button>

      <button
        id="chain-btn"
        type="button"
        (click)="showLoginDrawer()"
        class="inline-flex items-center font-medium justify-center px-4 py-2
        text-sm text-gray-900 dark:text-white rounded-lg cursor-pointer
        hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
        <img src="./assets/icons/lock.svg" class="h-5">
      </button>


      <!-- currency drawer -->
      <div id="currency-menu" #currencyMenu class="fixed top-0 right-0 z-40
        h-screen
        p-4 overflow-y-auto transition-transform translate-x-full bg-white w-80
        dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-right-label">
        <h5 id="currency-label" class="inline-flex items-center mb-4
          text-base font-semibold text-gray-500 dark:text-gray-400"><svg
            class="w-5 h-5 mr-2" aria-hidden="true" fill="currentColor"
            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path
              fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1
              0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0
              100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>Select
          Currency</h5>
        <ul class="py-2 font-medium" role="none">
          <li *ngFor="let currency of currencyService.currencies">
            <a [id]="'select-currency-' + currency"
              (click)="setCurrency(currency)"
              class="cursor-pointer block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100
              dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
              role="menuitem">
              <div class="inline-flex items-center uppercase">
                {{currency}}
              </div>
            </a>
          </li>
        </ul>
      </div>
      <!-- chain drawer -->
      <div id="chain-menu" #chainMenu class="fixed top-0 right-0 z-40 h-screen
        p-4 overflow-y-auto transition-transform translate-x-full bg-white w-80
        dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-right-label">
        <h5 id="currency-label" class="inline-flex items-center mb-4
          text-base font-semibold text-gray-500 dark:text-gray-400"><svg
            class="w-5 h-5 mr-2" aria-hidden="true" fill="currentColor"
            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path
              fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1
              0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0
              100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>Select
          Chain</h5>
        <ul class="py-2 font-medium" role="none">
          <li *ngFor="let chain of web3Service.chains">
            <a [id]="'select-chain-' + chain" (click)="setChain(chain)"
              class="cursor-pointer block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100
              dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
              role="menuitem">
              <div class="inline-flex items-center">
                <img [src]="getLogo(chain)" class="h-5 mr-3">
                {{chain.toUpperCase()}}
              </div>
            </a>
          </li>
        </ul>
      </div>
      <!-- login drawer -->
      <div id="login-menu" #loginMenu class="fixed top-0 right-0 z-40 h-screen
        p-4 overflow-y-auto transition-transform translate-x-full bg-white w-80
        dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-right-label">
        <h5 id="login-label" class="inline-flex items-center mb-4
          text-base font-semibold text-gray-500 dark:text-gray-400"><svg
            class="w-5 h-5 mr-2" aria-hidden="true" fill="currentColor"
            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path
              fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1
              0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0
              100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>Login</h5>
        <form class="mb-6">
          <div class="mb-6">
            <label for="input-login-user" class="block mb-2 text-sm
              font-medium
              text-gray-900 dark:text-white">User</label>
            <input type="text" id="input-login-user" class="bg-gray-50 border
              border-gray-300 text-gray-900 text-sm rounded-lg
              focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
              dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
              dark:text-white dark:focus:ring-blue-500
              dark:focus:border-blue-500"
              required>
          </div>
          <div class="mb-6">
            <label for="input-login-pin" class="block mb-2 text-sm
              font-medium
              text-gray-900 dark:text-white">Pin</label>
            <input type="password" id="input-login-pin"
              (keypress)="checkPinInput($event)" class="bg-gray-50 border key
              border-gray-300 text-gray-900 text-sm rounded-lg
              focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
              dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
              dark:text-white dark:focus:ring-blue-500
              dark:focus:border-blue-500"
              required>
          </div>

          <div class="grid grid-cols-2 gap-4">
            <button id="show-create-account-btn2" type="button"
              class="text-white
              bg-gray-700
              hover:bg-gray-800
              w-full focus:ring-4 focus:ring-gray-300 font-medium rounded-lg
              text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-600
              dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800
              block" (click)="showCreateDrawer()">Create Account</button>
            <button id="show-login-btn2" type="button" class="text-white
              bg-blue-700
              hover:bg-blue-800
              w-full focus:ring-4 focus:ring-blue-300 font-medium rounded-lg
              text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600
              dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800
              block" (click)="login()">Login</button>
          </div>
        </form>
        <hr class="h-px my-4 bg-warning-200 border-0 dark:bg-warning-700">
        <div class="mt-4 py-4" *ngIf="!configService.subscribed">
          <app-ads type="300x250"></app-ads>
        </div>
      </div>
      <!-- create drawer -->
      <div id="create-menu" #createMenu class="fixed top-0 right-0 z-40 h-screen
        p-4 overflow-y-auto transition-transform translate-x-full bg-white w-80
        dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-right-label">
        <h5 id="create-label" class="inline-flex items-center mb-4
          text-base font-semibold text-gray-500 dark:text-gray-400"><svg
            class="w-5 h-5 mr-2" aria-hidden="true" fill="currentColor"
            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path
              fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1
              0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0
              100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>Create
          Account</h5>
        <form class="mb-6">
          <div class="mb-6">
            <label for="input-create-user" class="block mb-2 text-sm
              font-medium
              text-gray-900 dark:text-white">User</label>
            <input type="text" id="input-create-user" class="bg-gray-50 border
              border-gray-300 text-gray-900 text-sm rounded-lg
              focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
              dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
              dark:text-white dark:focus:ring-blue-500
              dark:focus:border-blue-500"
              required>
          </div>
          <div class="mb-6">
            <label for="input-create-pin" class="block mb-2 text-sm
              font-medium
              text-gray-900 dark:text-white">Pin</label>
            <input type="password" id="input-create-pin"
              (keypress)="checkPinInput($event)" class="bg-gray-50 border key
              border-gray-300 text-gray-900 text-sm rounded-lg
              focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
              dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
              dark:text-white dark:focus:ring-blue-500
              dark:focus:border-blue-500"
              required>
          </div>
          <div class="mb-6">
            <label for="input-create-pin2" class="block mb-2 text-sm
              font-medium
              text-gray-900 dark:text-white">Confirm Pin</label>
            <input type="password" id="input-create-pin2"
              (keypress)="checkPinInput($event)" class="bg-gray-50 border key
              border-gray-300 text-gray-900 text-sm rounded-lg
              focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
              dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
              dark:text-white dark:focus:ring-blue-500
              dark:focus:border-blue-500"
              required>
          </div>

          <div class="grid grid-cols-2 gap-4">
            <button id="show-login-btn" type="button" class="text-white
              bg-gray-700
              hover:bg-gray-800
              w-full focus:ring-4 focus:ring-gray-300 font-medium rounded-lg
              text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-600
              dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800
              block" (click)="showLoginDrawer()">Login</button>

            <button id="show-create-account-btn" type="button" class="text-white
              bg-blue-700
              hover:bg-blue-800
              w-full focus:ring-4 focus:ring-blue-300 font-medium rounded-lg
              text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600
              dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800
              block" (click)="createAccount()" [disabled]="isCreating ? 'true' :
              null">Create Account</button>
          </div>
          <hr class="h-px my-4 bg-warning-200 border-0 dark:bg-warning-700">
          <div class="mt-4 py-4" *ngIf="!configService.subscribed">
            <app-ads type="300x250"></app-ads>
          </div>
        </form>
      </div>
      <!-- user info drawer -->
      <div id="user-info-menu" #userInfoMenu class="fixed top-0 right-0 z-40
        h-screen
        p-4 overflow-y-auto transition-transform translate-x-full bg-white w-80
        dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-right-label">
        <h5 id="user-info-label" class="inline-flex items-center mb-4
          text-base font-semibold text-gray-500 dark:text-gray-400"><svg
            class="w-5 h-5 mr-2" aria-hidden="true" fill="currentColor"
            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path
              fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1
              0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0
              100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>User
          Info</h5>
        <dl>
          <dt class="mb-2 font-semibold leading-none text-warning-900
            dark:text-warning-500">User</dt>
          <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">{{subService.user}}</dd>
          <dt class="mb-2 font-semibold leading-none text-warning-900
            dark:text-warning-500">Subscription</dt>
          <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400"
            *ngIf="configService.subscribed">Subscribed until <span
              class="text-success">{{formatDate(subService.expiry)}}</span></dd>
          <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400"
            *ngIf="!configService.subscribed"><a
              (click)="showSubscriptionModal()" class="cursor-pointer">Subscribe
              Now</a></dd>
        </dl>
        <button type="button" class="inline-flex w-full items-center text-white
          justify-center bg-red-600 hover:bg-red-700 focus:ring-4
          focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm
          px-5 py-2.5 text-center dark:bg-red-500 dark:hover:bg-red-600
          dark:focus:ring-red-900" (click)="logout()">Logout</button>
        <hr class="h-px my-4 bg-warning-200 border-0 dark:bg-warning-700">
        <div class="mt-4 py-4" *ngIf="!configService.subscribed">
          <app-ads type="300x250"></app-ads>
        </div>
      </div>
      <!-- currency drawer -->
      <div id="alert-menu" #alertMenu class="fixed top-0 right-0 z-40
        h-screen
        p-4 overflow-y-auto transition-transform translate-x-full bg-white w-80
        dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-right-label">
        <h5 id="alert-label" class="inline-flex items-center mb-4
          text-base font-semibold text-gray-500 dark:text-gray-400"><svg
            class="w-5 h-5 mr-2" aria-hidden="true" fill="currentColor"
            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path
              fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1
              0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0
              100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>Alerts</h5>
        <ul class="py-2 font-medium" role="none">
          <li *ngFor="let alert of alerts">
            <a [id]="'select-currency-' + alert.id"
              (click)="showAlertContent(alert.id)"
              class="cursor-pointer block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100
              dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
              role="menuitem">
              <div class="inline-flex items-center uppercase">
                {{utilService.limitText(alert.title, 25)}}
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- main menu-->

    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg
      md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2
      focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700
      dark:focus:ring-gray-600"
      aria-controls="navbar-default"
      aria-expanded="false">
      <span class="sr-only">Main Menu</span>
      <svg
        class="w-6 h-6"
        aria-hidden="true"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg">
        <path
          fill-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0
          011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110
          2H4a1 1 0 01-1-1z"
          clip-rule="evenodd"></path>
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100
        rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0
        md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a
            routerLink="/tracker/home"
            class="block py-2 pl-3 pr-4 text-white md:p-0 dark:text-white
            rounded bg-blue-700
            md:bg-transparent md:text-warning-700
            md:dark:text-warning-500"
            aria-current="page">Home</a>
        </li>
        <li>
          <a
            routerLink="/tracker/accounts"
            class="block py-2 pl-3 pr-4 rounded text-gray-900 hover:bg-gray-100
            md:hover:bg-transparent md:border-0 md:hover:text-warning-700 md:p-0
            dark:text-white md:dark:hover:text-warning-500
            dark:hover:bg-gray-700
            dark:hover:text-white md:dark:hover:bg-transparent">Accounts</a>
        </li>
        <li>
          <a
            routerLink="/tracker/treasury"
            class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100
            md:hover:bg-transparent md:border-0 md:hover:text-warning-700 md:p-0
            dark:text-white md:dark:hover:text-warning-500
            dark:hover:bg-gray-700
            dark:hover:text-white md:dark:hover:bg-transparent">Treasury</a>
        </li>
        <li>
          <a
            routerLink="/tracker/market"
            class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100
            md:hover:bg-transparent md:border-0 md:hover:text-warning-700 md:p-0
            dark:text-white md:dark:hover:text-warning-500
            dark:hover:bg-gray-700
            dark:hover:text-white md:dark:hover:bg-transparent">Market</a>
        </li>
        <li>
          <a
            routerLink="/tracker/options"
            class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100
            md:hover:bg-transparent md:border-0 md:hover:text-warning-700 md:p-0
            dark:text-white md:dark:hover:text-warning-500
            dark:hover:bg-gray-700
            dark:hover:text-white md:dark:hover:bg-transparent">Options</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
