main.page-wrapper
  include ../includes/menu
  section.position-relative.zindex-5.pb-4.mb-md-3.mx-5.pt-6
    .row
      include ../includes/alerts      
    .row.mx-n2.py-2
      .col-md-2.col-sm-6.px-2.mb-3
        .card.h-100.rounded-3.p-4.text-center.text-white.bg-dark
          h6.fs-sm.fw-medium.text-muted Total Claimable Skills
          span#card-ingame.h4.text-white 0
          span#conv-ingame.mb-2.text-white.card-label
      .col-md-2.col-sm-6.px-2.mb-3
        .card.h-100.rounded-3.p-4.text-center.text-white.bg-dark
          h6.fs-sm.fw-medium.text-muted Total Unclaimed Skills
          span#card-unclaim.h4.text-white 0
          span#conv-unclaim.mb-2.text-white.card-label
      .col-md-2.col-sm-6.px-2.mb-3
        .card.h-100.rounded-3.p-4.text-center.text-white.bg-dark
          h6.fs-sm.fw-medium.text-muted Total Staked Skills
          span#card-stake.h4.text-white 0
          span#conv-stake.mb-2.text-white.card-label
      .col-md-2.col-sm-6.px-2.mb-3
        .card.h-100.rounded-3.p-4.text-center.text-white.bg-dark
          h6.fs-sm.fw-medium.text-muted Total Skills in Wallet
          span#card-wallet.h4.text-white 0
          span#conv-wallet.mb-2.text-white.card-label
      .col-md-2.col-sm-6.px-2.mb-3
        .card.h-100.rounded-3.p-4.text-center.text-white.bg-dark
          span#card-total-title.h6.fs-sm.fw-medium.text-muted Total Skill Assets
          span#card-total.h4.text-white 0
          span#conv-total.mb-2.text-white.card-label
      .col-md-2.col-sm-6.px-2.mb-3
        .card.h-100.rounded-3.p-4.text-center.text-white.bg-dark
          h6#label-tbalance.fs-sm.fw-medium.text-muted Total BNB Balance
          span#card-bnb.h4.text-white 0
          span#conv-bnb.mb-2.text-white.card-label
    .row.mx-n2.py-2
      .col-md-2.col-sm-6.px-2.mb-3
        .card.h-100.rounded-3.p-4.text-center.text-white.bg-dark
          h6.fs-sm.fw-medium.text-muted Total Accounts
          span#card-account.h4.text-white 0
      .col-md-2.col-sm-6.px-2.mb-3
        .card.h-100.rounded-3.p-4.text-center.text-white.bg-dark
          h6.fs-sm.fw-medium.text-muted Total Characters
          span#card-char.h4.text-white 0
      .col-md-2.col-sm-6.px-2.mb-3
        .card.h-100.rounded-3.p-4.text-center.text-white.bg-dark
          h6.fs-sm.fw-medium.text-muted Current Skill Price
          span#card-price.h4.text-white 0
          span#conv-price.mb-2.text-white.card-label
      .col-md-2.col-sm-6.px-2.mb-3
        .card.h-100.rounded-3.p-4.text-center.text-white.bg-dark
<<<<<<< HEAD
          h6.fs-sm.fw-medium.text-muted Skill Multiplier
=======
          h6.fs-sm.fw-medium.text-muted Daily Max Claim
>>>>>>> beb9d798da7693a2ce50a99133975e58c8a55242
          span#card-claim.h4.text-white 0
      .col-md-2.col-sm-6.px-2.mb-3
        .card.h-100.rounded-3.p-4.text-center.text-white.bg-dark
          h6.fs-sm.fw-medium.text-muted Hourly Fight Reward Allowance
          span#card-reward.h4.text-white 0
          span#conv-reward.mb-2.text-white.card-label
      .col-md-2.col-sm-6.px-2.mb-3
        .card.h-100.rounded-3.p-4.text-center.text-white.bg-dark
          h6.fs-sm.fw-medium.text-muted Next Reset
          span#card-reset.h4.text-white 
    .row.mx-n2.py-2
      .col-md-12.col-sm-126.px-2.mb-3
        .card.bg-dark
          .card-header
            .row.align-items-center
              .col
                h4.card-header-title.text-white
                  | Accounts
              .col-auto
                button.btn.btn-sm.btn-success(style='margin-right: 3px !important;' type='button' data-bs-toggle='modal' data-bs-target='#modal-import')
                  | Import
                button.btn.btn-sm.btn-warning(style='margin-right: 3px !important;' type='button' onclick='export_data()')
                  | Export
                button.btn.btn-sm.btn-danger(type='button' data-bs-toggle='modal' data-bs-target='#modal-add-account')
                  | Add Account
          .card-body
            .row
              .col-md-12
                button.btn.btn-sm.btn-light.mb-2.btn-refresh(type='button' onclick='refresh()' disabled)
                  | Refresh
                .form-check.form-switch(style='float: right;')
                  input#btn-tax.form-check-input(type="checkbox")
                  label.form-check-label.text-white(for="btn-tax") Include Claim Taxes
                .form-check.form-switch(style='float: right; margin-right: 10px !important;')
                  input#btn-privacy.form-check-input(type="checkbox")
                  label.form-check-label.text-white(for="btn-privacy") Hide address
                .form-check.form-switch(style='float: right; margin-right: 10px !important;')
                  input#btn-hunstake.form-check-input(type="checkbox")
                  label.form-check-label.text-white(for="btn-privacy") Hide claim time
                .form-check.form-switch(style='float: right; margin-right: 10px !important;')
                  input#btn-hskills.form-check-input(type="checkbox")
                  label.form-check-label.text-white(for="btn-privacy") Hide skill assets                
                .form-check.form-switch(style='float: right; margin-right: 10px !important;')
                  input#btn-hchars.form-check-input(type="checkbox")
                  label.form-check-label.text-white(for="btn-privacy") Hide characters
              .col-md-12
                .table-responsive.mb-0
                  table#table-accounts.table.table-sm.card-table.table-bordered
                    thead.text-center
                      tr
                        th.text-white.align-middle(rowspan='2')
                          | Name
                        th.text-white.align-middle.address-column(rowspan='2')
                          | Address
                        th.text-white.char-column(colspan='6')
                          | Characters
                        th.text-white.skill-column(colspan='5')
                          | Skill Assets
                        th.text-white.align-middle.unstake-column(rowspan='2')
                          | Claim Time
                        th#label-balance.text-white.align-middle(rowspan='2')
                          | BNB Balance
                        th.text-white.align-middle(rowspan='2')
                          | Action
                      tr 
                        th.text-white.char-column 
                          | ID
                        th.text-white.char-column 
                          | Level
                        th.text-white.char-column 
                          | Element
                        th.text-white.char-column 
                          | Unclaimed XP
                        th.text-white.char-column 
                          | Target Level
                        th.text-white.char-column 
                          | Stamina
                        th.text-white.skill-column 
                          | Unclaimed                         
                        th.text-white.skill-column 
                          | Claimable
                        th.text-white.skill-column 
                          | Staked
                        th.text-white.skill-column 
                          | Wallet
                        th.text-white.skill-column
                          | Total
                    tbody.text-center
              .col-md-12.mt-2
                button.btn.btn-sm.btn-light.mb-2.btn-refresh(type='button' onclick='refresh()' disabled)
                  | Refresh
include ../footer
