main.page-wrapper
  include ../includes/menu
  section.position-relative.zindex-5.pb-4.mb-md-3.mx-5.pt-6
    .row
      include ../includes/alerts
      .col-md-12
        .alert.alert-danger.alert-dismissible.fade.show(role="alert")
          | <span class="text-center">Do not refresh/close this page without saving your fight logs.</span>
          button(type="button", data-bs-dismiss="alert", aria-label="Close").btn-close
    .row.mx-n2.py-2
      .col-md-12.col-sm-126.px-2.mb-3
        .card.bg-dark
          .card-header
            .row.align-items-center
              .col
                h4.card-header-title.text-white
                  | Fight Result Logger
              .col-auto
                button.btn.btn-sm.btn-success(style='margin-right: 3px !important;' type='button' data-bs-toggle='modal' data-bs-target='#modal-import')
                  | Import List
                button.btn.btn-sm.btn-warning(style='margin-right: 3px !important;' type='button' onclick='exportList()')
                  | Export List
                button.btn.btn-sm.btn-danger(type='button' data-bs-toggle='modal' data-bs-target='#modal-add-account')
                  | Add Account
          .card-body
            .row
              .col-md-12.mb-3
                .p.text-white Results are in csv format <code>Address,Fight Outcome,Character ID,Weapon ID,Player Roll,Enemy Roll,Skill Reward,XP Reward,Gas Cost</code>
            .row
              .col-md-3.mb-3
                label.text-white.mb-1 Address subscribed
                textarea#fight-address.form-control(rows="15" readonly style='font-size: 13px; color: black;' wrap="off")
              .col-md-9
                .row
                  .col
                    label.text-white.mb-1 Fight logs
                  .col-auto
                    button.btn.btn-sm.btn-warning.mb-1(style='margin-top: -15px !important;' type='button' onclick='exportLogs()')
                      | Export Logs
                textarea#fight-result.form-control(rows="15" readonly style='font-size: 13px; color: black;' wrap="off")
include ../footer