<div class="pt4 flex justify-center items-center text-center">
  <app-ads></app-ads>
</div>
<div class="px-2 pt-4 mb-16">
  <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm
    2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
    <div class="mb-6">

      <h2 id="group-menu-btn" class="text-2xl font-medium leading-tight text-center
        text-warning-500 cursor-pointer mb-4" (click)="showGroupsDrawer()">{{configService.getAllGroups().length
        > 0 ? groupService.getActiveGroupName() : 'No Group'}}</h2>


      <div id="accounts" *ngFor="let account of
        groupService.getActiveGroupAccounts(); let
        i=index">
        <div
          class="border border-2 border-warning-500 bg-white
          dark:border-warning-600 dark:bg-gray-800"
          [ngClass]="i === 0 ? 'rounded-t-lg' : 'rounded-none'">
          <!-- header -->
          <h2 class="mb-0" [id]="'account-head-' + i">
            <div class="group relative flex w-full items-center">
              <button [id]="'account-head-' + i + '-btn'"
                class="group relative flex w-full items-center
                border-0 bg-white px-5 py-4 text-left text-base text-gray-800
                transition [overflow-anchor:none] hover:z-[2] focus:z-[3]
                focus:outline-none dark:bg-gray-800 dark:text-white
                [&:not([data-te-collapse-collapsed])]:bg-white
                [&:not([data-te-collapse-collapsed])]:text-warning
                [&:not([data-te-collapse-collapsed])]:[box-shadow:inset_0_-1px_0_rgba(229,231,235)]
                dark:[&:not([data-te-collapse-collapsed])]:bg-gray-800
                dark:[&:not([data-te-collapse-collapsed])]:text-warning-400
                dark:[&:not([data-te-collapse-collapsed])]:[box-shadow:inset_0_-1px_0_rgba(75,85,99)]"
                [ngClass]="i === 0 ? 'rounded-t-lg' : 'rounded-none'"
                type="button"
                data-te-collapse-init
                [attr.data-te-collapse-collapsed]="configService.expanded ? null : ''"
                [attr.data-te-target]="'#account-content-' + i "
                [attr.aria-expanded]="configService.expanded ? true : false"
                [attr.aria-controls]="'#account-content-' + i ">
                <span
                  class="mr-3 h-5 w-5 shrink-0 rotate-[-180deg] fill-[#336dec]
                  transition-transform duration-200 ease-in-out
                  group-[[data-te-collapse-collapsed]]:rotate-0
                  group-[[data-te-collapse-collapsed]]:fill-[#212529]
                  motion-reduce:transition-none dark:fill-blue-300
                  dark:group-[[data-te-collapse-collapsed]]:fill-white">

                  <svg class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0
                    20 20" xmlns="http://www.w3.org/2000/svg"><path
                      fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10
                      10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414
                      0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </span>
                {{groupService.getAccountName(account)}}
                ({{utilService.addressPrivacy(account)}}) | Unc:
                {{utilService.formatNumber(variableService.accountBalances
                && variableService.accountBalances[i] ? variableService.accountBalances[i].unclaimed
                : 0)}}{{configService.display ? ' (' + utilService.convertTokenToLocalCurrency(variableService.accountBalances[i].unclaimed, configService.version, prices, configService.currency) + ')' : ''}}
              </button>
              <span class="text-xs font-medium mr-2 px-2.5 py-0.5 rounded" [ngClass]="getMultiplierColor()">{{variableService.readyToFight[i]}}</span>
              <a [id]="'account-menu-btn-' + i" class="ml-auto cursor-pointer px-4 text-md text-warning-500"
                (click)="showAccountDrawer(account)">...</a>`
            </div>
          </h2>
          <!-- content -->
          <div
            [id]="'account-content-' + i"
            [class]="configService.expanded ? '!visible' : '!visible hidden'"
            [attr.aria-labelledby]="'account-head-' + i"
            data-te-collapse-item
            [attr.data-te-collapse-show]="configService.expanded ? '' : null">
            <div class="px-5 py-4">
              <div
                class="grid w-full grid-cols-1 gap-4 xl:grid-cols-5">
                <!-- characters info -->
                <div
                  class="items-center justify-between p-2 col-span-4">
                  <!-- skeleton -->
                  <div role="status" class="animate-pulse w-full"
                    *ngIf="isLoading">
                    <div
                      class="grid w-full grid-cols-1 lg:grid-cols-2 gap-4 xl:grid-cols-4">
                      <div class="items-center p-2 border border-2
                        border-warning-500 rounded">
                        <div class="flex items-center mb-2">
                          <div class="w-16 text-sm font-medium text-gray-500
                            dark:text-gray-400">
                            <div class="h-6 bg-gray-200 rounded-full
                              dark:bg-gray-700 w-24"></div>
                          </div>
                        </div>
                      </div>
                      <div class="items-center p-2 border border-2
                        border-warning-500 rounded">
                        <div class="flex items-center mb-2">
                          <div class="w-16 text-sm font-medium text-gray-500
                            dark:text-gray-400">
                            <div class="h-6 bg-gray-200 rounded-full
                              dark:bg-gray-700 w-24"></div>
                          </div>
                        </div>
                      </div>
                      <div class="items-center p-2 border border-2
                        border-warning-500 rounded">
                        <div class="flex items-center mb-2">
                          <div class="w-16 text-sm font-medium text-gray-500
                            dark:text-gray-400">
                            <div class="h-6 bg-gray-200 rounded-full
                              dark:bg-gray-700 w-24"></div>
                          </div>
                        </div>
                      </div>
                      <div class="items-center p-2 border border-2
                        border-warning-500 rounded">
                        <div class="flex items-center mb-2">
                          <div class="w-16 text-sm font-medium text-gray-500
                            dark:text-gray-400">
                            <div class="h-6 bg-gray-200 rounded-full
                              dark:bg-gray-700 w-24"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end skeleton -->
                  <div class="w-full" *ngIf="!isLoading">
                    <div
                      class="grid w-full grid-cols-1 lg:grid-cols-2 gap-4 xl:grid-cols-4">
                      <div class="items-center p-2 border border-2
                        border-warning-500 rounded">
                        <div class="flex items-center mb-2">
                          <div class="w-16 text-sm font-medium
                            text-warning-500">{{web3Service.getChainSymbol()}}</div>
                          <div class="w-full text-sm font-medium
                            dark:text-white
                            text-right">{{utilService.formatNumber(variableService.accountBalances
                            && variableService.accountBalances[i] ? variableService.accountBalances[i].gas :
                            0)}}{{configService.display ? ' (' + utilService.convertGasToLocalCurrency(variableService.accountBalances[i].gas, prices, configService.currency) + ')' : ''}}</div>
                        </div>
                      </div>
                      <div class="items-center p-2 border border-2
                        border-warning-500 rounded">
                        <div class="flex items-center mb-2">
                          <div class="w-16 text-sm font-medium
                            text-warning-500">Unclaimed</div>
                          <div class="w-full text-sm font-medium
                            dark:text-white
                            text-right">{{utilService.formatNumber(variableService.accountBalances
                            && variableService.accountBalances[i] ? variableService.accountBalances[i].unclaimed
                            : 0)}}{{configService.display ? ' (' + utilService.convertTokenToLocalCurrency(variableService.accountBalances[i].unclaimed, configService.version, prices, configService.currency) + ')' : ''}}</div>
                        </div>
                      </div>
                      <div class="items-center p-2 border border-2
                        border-warning-500 rounded">
                        <div class="flex items-center mb-2">
                          <div class="w-16 text-sm font-medium
                            text-warning-500">Claimable</div>
                          <div class="w-full text-sm font-medium
                            dark:text-white
                            text-right">{{utilService.formatNumber(variableService.accountBalances
                            && variableService.accountBalances[i] ? variableService.accountBalances[i].claimable
                            : 0)}}{{configService.display ? ' (' + utilService.convertTokenToLocalCurrency(variableService.accountBalances[i].claimable, configService.version, prices, configService.currency) + ')' : ''}}</div>
                        </div>
                      </div>
                      <div class="items-center p-2 border border-2
                        border-warning-500 rounded">
                        <div class="flex items-center mb-2">
                          <div class="w-16 text-sm font-medium
                            text-warning-500">Wallet</div>
                          <div class="w-full text-sm font-medium
                            dark:text-white
                            text-right">{{utilService.formatNumber(variableService.accountBalances
                            && variableService.accountBalances[i] ? variableService.accountBalances[i].wallet :
                            0)}}{{configService.display ? ' (' + utilService.convertTokenToLocalCurrency(variableService.accountBalances[i].wallet, configService.version, prices, configService.currency) + ')' : ''}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end characters info -->
                <!-- character table -->
                <div
                  class="items-center justify-between p-2 col-span-4">
                  <div class="w-full">
                    <div class="relative overflow-x-scroll hover:overflow-x-scroll
                      shadow-md">
                      <table class="w-full text-sm text-left text-gray-500
                        dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase
                          bg-gray-50
                          dark:bg-gray-700 dark:text-gray-400">
                          <tr>
                            <th scope="col" class="px-6 py-3">
                              ID
                            </th>
                            <th scope="col" class="px-6 py-3">
                              Level
                            </th>
                            <th scope="col" class="px-6 py-3">
                              Element
                            </th>
                            <th scope="col" class="px-6 py-3">
                              Power
                            </th>
                            <th scope="col" class="px-6 py-3">
                              Reputation
                            </th>
                            <th scope="col" class="px-6 py-3">
                              Unc. Exp
                            </th>
                            <th scope="col" class="px-6 py-3">
                              Next Level
                            </th>
                            <th scope="col" class="px-6 py-3">
                              Stamina
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr role="status" class="animate-pulse"
                            *ngIf="isLoading">
                            <th scope="row" class="px-6 py-4 font-medium
                              text-gray-900 whitespace-nowrap
                              dark:text-white">
                              <div class="h-4 bg-gray-200 rounded-full
                                dark:bg-gray-700 w-12
                                mb-6 mt-1"></div>
                            </th>
                            <td class="px-6 py-4">
                              <div class="h-4 bg-gray-200 rounded-full
                                dark:bg-gray-700 w-12 mb-6 mt-1"></div>
                            </td>
                            <td class="px-6 py-4">
                              <div class="h-4 bg-gray-200 rounded-full
                                dark:bg-gray-700 w-12 mb-6 mt-1"></div>
                            </td>
                            <td class="px-6 py-4">
                              <div class="h-4 bg-gray-200 rounded-full
                                dark:bg-gray-700 w-12 mb-6 mt-1"></div>
                            </td>
                            <td class="px-6 py-4">
                              <div class="h-4 bg-gray-200 rounded-full
                                dark:bg-gray-700 w-12 mb-6 mt-1"></div>
                            </td>
                            <td class="px-6 py-4">
                              <div class="h-4 bg-gray-200 rounded-full
                                dark:bg-gray-700 w-12 mb-6 mt-1"></div>
                            </td>
                            <td class="px-6 py-4">
                              <div class="h-4 bg-gray-200 rounded-full
                                dark:bg-gray-700 w-12 mb-6 mt-1"></div>
                            </td>
                            <td class="px-6 py-4">
                              <div class="h-4 bg-gray-200 rounded-full
                                dark:bg-gray-700 w-12 mb-6 mt-1"></div>
                            </td>
                          </tr>
                          <tr class="bg-white border-b dark:bg-gray-900
                            dark:border-gray-700" *ngFor="let char of
                            variableService.accountChars[i]; let j=index">
                            <th scope="row" class="px-6 py-4 font-medium
                              text-gray-900 whitespace-nowrap
                              dark:text-white">
                              {{char.data.id}}
                            </th>
                            <td class="px-6 py-4">
                              {{char.data.level + 1}}
                            </td>
                            <td class="px-6 py-4" [ngClass]="utilService.elementColor(char.data.traitName)">
                              {{char.data.traitName}}
                            </td>
                            <td class="px-6 py-4">
                              {{char.power}}
                            </td>
                            <td class="px-6 py-4">
                              {{char.rank}}
                            </td>
                            <td class="px-6 py-4">
                              {{char.exp}}
                            </td>
                            <td class="px-6 py-4">
                              {{char.nextLevel.level + 1}} (<span [class]="char.nextExp <= 0 ? 'text-warning-500' : null">{{char.nextExp <= 0 ? 'Claim now' : char.nextExp.toLocaleString('en-US') + ' exp left'}}</span>)
                            </td>
                            <td class="px-6 py-4" [ngClass]="getStaminaColor(char.stamina)">
                              {{char && char.stamina ? char.stamina : ''}}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!-- end character table -->
                <!-- ads -->
                <div class="w-full row-span-2 p-2 flex items-center
                  justify-center">
                  <app-ads provider="flyersquare" type="250x250"></app-ads>
                </div>
                <!-- end ads -->
              </div>
            </div>
          </div>

        </div>
      </div>


      <!-- groups drawer -->
      <div id="groups-drawer" #groupMenu class="fixed top-0 right-0 z-40
        h-screen
        p-4 overflow-y-auto transition-transform translate-x-full bg-white
        w-80
        dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-right-label">
        <hr class="h-px mb-2 bg-gray-200 border-0 dark:bg-gray-700">
        <!-- select group -->
        <h5 id="groups-label" class="items-center mb-2
          text-base font-semibold text-gray-500 dark:text-gray-400
          text-center">Select
          Group</h5>
        <ul class="py-2 font-medium" role="none">
          <li *ngFor="let group of variableService.groups; let i= index">
            <a (click)="setGroupIndex(i)"
              class="block px-4 py-2 text-sm text-white hover:bg-gray-100
              dark:text-white dark:hover:bg-gray-600 dark:hover:text-white"
              role="menuitem">
              <div class="inline-flex items-center uppercase cursor-pointer">
                {{group.name}}
              </div>
            </a>
          </li>
        </ul>
        <hr class="h-px my-2 bg-warning-200 border-0 dark:bg-warning-700">
        <h5 id="groups-label" class="items-center mb-2
          text-base font-semibold text-gray-500 dark:text-gray-400
          text-center">Actions</h5>
        <button id="manage-group-btn" type="button" class="text-white bg-warning-700
          hover:bg-warning-800
          w-full focus:ring-4 focus:ring-warning-300 font-medium rounded-lg
          text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-warning-600
          dark:hover:bg-warning-700 focus:outline-none
          dark:focus:ring-warning-800
          block" (click)="showManageGroupDrawer()"
          [disabled]="configService.getAllGroups().length === 0">Manage Group</button>
        <button id="new-group-btn" type="button" class="text-white bg-success-700
          hover:bg-success-800
          w-full focus:ring-4 focus:ring-success-300 font-medium rounded-lg
          text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-success-600
          dark:hover:bg-success-700 focus:outline-none
          dark:focus:ring-success-800
          block" (click)="showNewGroupDrawer()">New Group</button>

        <hr class="h-px my-4 bg-warning-200 border-0 dark:bg-warning-700">
        <button id="add-account-btn" type="button" class="text-white bg-primary-700
          hover:bg-primary-800
          w-full focus:ring-4 focus:ring-primary-300 font-medium rounded-lg
          text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-primary-600
          dark:hover:bg-primary-700 focus:outline-none
          dark:focus:ring-primary-800
          block" (click)="showAddAccountDrawer()">Add Account</button>
      </div>
      <!-- end groups drawer -->

      <!-- new group drawer -->
      <div id="new-group-drawer" class="fixed top-0 right-0 z-40
        h-screen
        p-4 overflow-y-auto transition-transform translate-x-full bg-white
        w-80
        dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-right-label">
        <hr class="h-px mb-2 bg-gray-200 border-0 dark:bg-gray-700">
        <h5 id="new-group-label" class="items-center mb-2
          text-base font-semibold text-gray-500 dark:text-gray-400
          text-center">New
          Group</h5>
        <form class="mb-6">
          <div class="mb-6">
            <label for="input-group-name" class="block mb-2 text-sm
              font-medium
              text-gray-900 dark:text-white">Group Name</label>
            <input type="text" id="input-group-name" class="bg-gray-50 border
              border-gray-300 text-gray-900 text-sm rounded-lg
              focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
              dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
              dark:text-white dark:focus:ring-blue-500
              dark:focus:border-blue-500"
              required>
          </div>
          <button id="save-new-group-btn" type="button" class="text-white bg-blue-700
            hover:bg-blue-800
            w-full focus:ring-4 focus:ring-blue-300 font-medium rounded-lg
            text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600
            dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800
            block" (click)="saveNewGroup()">Save</button>
        </form>
      </div>
      <!-- end new group drawer -->

      <!-- manage group drawer -->
      <div id="manage-group-drawer" class="fixed top-0 right-0 z-40
        h-screen
        p-4 overflow-y-auto transition-transform translate-x-full bg-white
        w-80
        dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-right-label">
        <hr class="h-px mb-2 bg-gray-200 border-0 dark:bg-gray-700">
        <h5 id="manage-group-label" class="items-center mb-2
          text-base font-semibold text-gray-500 dark:text-gray-400
          text-center">Manage
          Group</h5>
        <form class="mb-6">
          <div class="mb-6">
            <label for="input-manage-group-name" class="block mb-2 text-sm
              font-medium
              text-gray-900 dark:text-white">Group Name</label>
            <input type="text" id="input-manage-group-name" class="bg-gray-50
              border
              border-gray-300 text-gray-900 text-sm rounded-lg
              focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
              dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
              dark:text-white dark:focus:ring-blue-500
              dark:focus:border-blue-500"
              required [value]="groupService.getActiveGroupName()">
          </div>
          <button id="save-manage-group-btn" type="button" class="text-white bg-blue-700
            hover:bg-blue-800
            w-full focus:ring-4 focus:ring-blue-300 font-medium rounded-lg
            text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600
            dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800
            block" (click)="saveGroup()">Save</button>
          <hr class="h-px my-5 bg-gray-200 border-0 dark:bg-gray-700">
          <button type="button" class="text-white bg-danger-700
            hover:bg-danger-800
            w-full focus:ring-4 focus:ring-danger-300 font-medium rounded-lg
            text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-danger-600
            dark:hover:bg-danger-700 focus:outline-none
            dark:focus:ring-danger-800
            block" (click)="deleteGroup()">Delete</button>
        </form>
      </div>
      <!-- end manage group drawer -->

      <!-- add account drawer -->
      <div id="add-account-drawer" class="fixed top-0 right-0 z-40
        h-screen
        p-4 overflow-y-auto transition-transform translate-x-full bg-white
        w-80
        dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-right-label">
        <hr class="h-px mb-2 bg-gray-200 border-0 dark:bg-gray-700">
        <h5 id="add-account-label" class="items-center mb-2
          text-base font-semibold text-gray-500 dark:text-gray-400
          text-center">Add
          Account</h5>
        <form class="mb-6">
          <div class="mb-6">
            <label for="input-add-account-name" class="block mb-2 text-sm
              font-medium
              text-gray-900 dark:text-white">Account Name</label>
            <input type="text" id="input-add-account-name" class="bg-gray-50
              border
              border-gray-300 text-gray-900 text-sm rounded-lg
              focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
              dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
              dark:text-white dark:focus:ring-blue-500
              dark:focus:border-blue-500"
              required>
          </div>
          <div class="mb-6">
            <label for="input-add-account-address" class="block mb-2 text-sm
              font-medium
              text-gray-900 dark:text-white">Address</label>
            <input type="text" id="input-add-account-address"
              class="bg-gray-50
              border
              border-gray-300 text-gray-900 text-sm rounded-lg
              focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
              dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
              dark:text-white dark:focus:ring-blue-500
              dark:focus:border-blue-500"
              required>
          </div>
          <button id="save-new-account-btn" type="button" class="text-white bg-blue-700
            hover:bg-blue-800
            w-full focus:ring-4 focus:ring-blue-300 font-medium rounded-lg
            text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600
            dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800
            block" (click)="saveAccount()">Save</button>
        </form>
      </div>
      <!-- end add account drawer -->

      <!-- manage account drawer -->
      <div id="manage-account-drawer" class="fixed top-0 right-0 z-40
        h-screen
        p-4 overflow-y-auto transition-transform translate-x-full bg-white
        w-80
        dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-right-label">
        <hr class="h-px mb-2 bg-gray-200 border-0 dark:bg-gray-700">
        <h5 id="manage-account-label" class="items-center mb-2
          text-base font-semibold text-gray-500 dark:text-gray-400
          text-center">Manage
          Account</h5>
        <form class="mb-6">
          <div class="mb-6">
            <label for="input-manage-account-name" class="block mb-2 text-sm
              font-medium
              text-gray-900 dark:text-white">Account Name</label>
            <input type="text" id="input-manage-account-name" class="bg-gray-50
              border
              border-gray-300 text-gray-900 text-sm rounded-lg
              focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
              dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
              dark:text-white dark:focus:ring-blue-500
              dark:focus:border-blue-500"
              required>
          </div>
          <div class="mb-6">
            <label for="input-manage-account-name" class="block mb-2 text-sm
              font-medium
              text-gray-900 dark:text-white">Account Address</label>
            <input type="text" id="input-manage-account-address" readonly
              class="bg-gray-50
              border
              border-gray-300 text-gray-900 text-sm rounded-lg
              focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
              dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
              dark:text-white dark:focus:ring-blue-500
              dark:focus:border-blue-500"
              required>
          </div>
          <button id="save-manage-account-btn" type="button" class="text-white bg-blue-700
            hover:bg-blue-800
            w-full focus:ring-4 focus:ring-blue-300 font-medium rounded-lg
            text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600
            dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800
            block" (click)="saveManageAccount()">Save</button>
          <hr class="h-px my-5 bg-gray-200 border-0 dark:bg-gray-700">
          <button id="combat-simulate-btn" type="button" class="text-white bg-warning-700
            hover:bg-warning-800
            w-full focus:ring-4 focus:ring-warning-300 font-medium rounded-lg
            text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-warning-600
            dark:hover:bg-warning-700 focus:outline-none
            dark:focus:ring-warning-800
            block" (click)="showCombatDrawer()" [disabled]="isLoading"
            [innerHTML]="isLoading ? 'Loading data...' : 'Combat Simulator'"></button>
          <button id="fight-logs-btn" type="button" class="text-white bg-success-700
            hover:bg-success-800
            w-full focus:ring-4 focus:ring-success-300 font-medium rounded-lg
            text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-success-600
            dark:hover:bg-success-700 focus:outline-none
            dark:focus:ring-success-800
            block" (click)="showLogsDrawer()">Fight Logs</button>
          <hr class="h-px my-5 bg-gray-200 border-0 dark:bg-gray-700">
          <button type="button" class="text-white bg-danger-700 bottom-0
            hover:bg-danger-800
            w-full focus:ring-4 focus:ring-danger-300 font-medium rounded-lg
            text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-danger-600
            dark:hover:bg-danger-700 focus:outline-none
            dark:focus:ring-danger-800
            block" (click)="deleteAccount()" [disabled]="isLoading">Delete</button>
        </form>
      </div>
      <!-- end manage account drawer -->

      <!-- combat drawer -->
      <div id="combat-drawer" class="fixed top-0 right-0 z-40
        h-screen
        p-4 overflow-y-auto transition-transform translate-x-full bg-white
        w-80
        dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-right-label">
        <hr class="h-px mb-2 bg-gray-200 border-0 dark:bg-gray-700">
        <h5 id="combat-label" class="items-center mb-2
          text-base font-semibold text-gray-500 dark:text-gray-400
          text-center">Combat Simulator</h5>
        <form class="mb-6">
          <div class="mb-6">
            <label for="input-character" class="block mb-2 text-sm
              font-medium
              text-warning-500">Character</label>
            <select id="input-character" data-te-select-init
              data-te-select-filter="true" class="">
              <option [value]="char.data.id" *ngFor="let char of
                variableService.accountChars[activeAccountIndex]">{{char.data.id}} |
                {{char.data.traitName}} | Lv. {{char.data.level + 1}} |
                {{char.stamina}}/200</option>
            </select>
          </div>
          <div class="mb-6">
            <label for="input-multiplier" class="block mb-2 text-sm
              font-medium
              text-warning-500">Stamina</label>
            <select id="input-multiplier" data-te-select-init
              data-te-select-filter="true" class="">
              <option value="1">40</option>
              <option value="2">80</option>
              <option value="3">120</option>
              <option value="4">160</option>
              <option value="5">200</option>
            </select>
          </div>
          <button type="button" class="text-white bg-blue-700
            hover:bg-blue-800
            w-full focus:ring-4 focus:ring-blue-300 font-medium rounded-lg
            text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600
            dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800
            block" (click)="simulateCombat()" [disabled]="simulating">{{simulating
            ? 'Simulating...' : 'Simulate'}}</button>
          <hr class="h-px my-5 bg-gray-200 border-0 dark:bg-gray-700">
          <div class="grid w-full grid-cols-3 grid-rows-2 mb-4" *ngFor="let data of simulations; let i=index">
            <div class="border border-2 border-gray-500 text-center p-2">
              <p class="text-warning-600 border-b-2 border-gray-500">Enemy</p>
              <span class="text-gray-500 dark:text-white">#{{i + 1}}</span>
            </div>
            <div class="border border-2 border-gray-500 text-center p-2">
              <p class="text-warning-600 border-b-2 border-gray-500">Power</p>
              <span class="text-gray-500 dark:text-white">{{data.power}}</span>
            </div>
            <div class="border border-2 border-gray-500 text-center p-2">
              <p class="text-warning-600 border-b-2 border-gray-500">Element</p>
              <span [class]="utilService.elementColor(data.element)">{{data.element}}</span>
            </div>
            <div class="border border-2 border-gray-500 text-center p-2">
              <p class="text-warning-600 border-b-2 border-gray-500">Exp</p>
              <span class="text-gray-500 dark:text-white">{{data.exp}}</span>
            </div>
            <div class="border border-2 border-gray-500 text-center p-2">
              <p class="text-warning-600 border-b-2 border-gray-500">Reward</p>
              <span class="text-gray-500 dark:text-white">{{utilService.formatNumber(data.reward)}}</span>
            </div>
            <div class="border border-2 border-gray-500 text-center p-2">
              <p class="text-warning-600 border-b-2 border-gray-500">Chance</p>
              <span [class]="utilService.chanceColor(data.chance)">{{utilService.formatNumber(data.chance * 100, 2)}}</span>
            </div>
          </div>
        </form>
      </div>
      <!-- end combat drawer -->
    </div>
  </div>
</div>

<div class="fixed z-20 bottom-20 right-4">
<button (click)="initAll()"
  class="bg-success-600 w-12 h-12 rounded-full
  drop-shadow-lg flex justify-center items-center text-white text-4xl
  hover:bg-success-700 hover:drop-shadow-2xl mb-2">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
  </svg>
</button>
<button (click)="toggleExpanded()"
    class="bg-warning-600 w-12 h-12 rounded-full
    drop-shadow-lg flex justify-center items-center text-white text-4xl
    hover:bg-warning-700 hover:drop-shadow-2xl">
    <svg _ngcontent-qfp-c20="" fill="currentColor" viewBox="0 0
        20 20" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 shrink-0" [style]="configService.expanded ? 'transform: rotate(180deg);' : ''"><path _ngcontent-qfp-c20="" fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10
          10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414
        0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
  </button>
</div>
