<div class="pt-4 flex justify-center items-center text-center">
  <app-ads provider="a-ads" type="728x90"></app-ads>
</div>
<div class="px-2 pt-4" *ngIf="isLoading">
  <div
    role="status" class="grid w-full grid-cols-1 gap-4 mt-4 xl:grid-cols-2
    2xl:grid-cols-3 animate-pulse">
    <div
      class="items-center justify-between p-2 bg-white border border-warning-200
      rounded-lg shadow-sm sm:flex dark:border-warning-700 sm:p-6
      dark:bg-gray-800">
      <div class="w-full">
        <h3 class="mb-4 text-base font-normal text-gray-500
          dark:text-gray-400">
          <div class="h-4 bg-gray-200 rounded-full dark:bg-gray-700 w-12
            mb-6 mt-1"></div>
        </h3>
        <div class="flex items-center mb-2">
          <div class="w-16 text-sm font-medium text-gray-500
            dark:text-gray-400">
            <div class="h-3 bg-gray-200 rounded-full dark:bg-gray-700 w-24
              mb-2"></div>
          </div>
          <div class="w-full text-sm font-medium dark:text-white text-right">
            <div class="h-3 bg-gray-200 rounded-full dark:bg-gray-700 w-4
              float-right"></div>
          </div>
        </div>
        <div class="flex items-center mb-2">
          <div class="w-16 text-sm font-medium text-gray-500
            dark:text-gray-400">
            <div class="h-3 bg-gray-200 rounded-full dark:bg-gray-700 w-24
              mb-2"></div>
          </div>
          <div class="w-full text-sm font-medium dark:text-white text-right">
            <div class="h-3bg-gray-200 rounded-full dark:bg-gray-700 w-4
              float-right"></div>
          </div>
        </div>
        <div class="flex items-center mb-2">
          <div class="w-16 text-sm font-medium text-gray-500
            dark:text-gray-400">
            <div class="h-3 bg-gray-200 rounded-full dark:bg-gray-700 w-24
              mb-2"></div>
          </div>
          <div class="w-full text-sm font-medium dark:text-white text-right">
            <div class="h-3 bg-gray-200 rounded-full dark:bg-gray-700 w-4
              float-right"></div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="items-center justify-between p-2 bg-white border border-warning-200
      rounded-lg shadow-sm sm:flex dark:border-warning-700 sm:p-6
      dark:bg-gray-800">
      <div class="w-full">
        <h3 class="mb-4 text-base font-normal text-gray-500
          dark:text-gray-400">
          <div class="h-4 bg-gray-200 rounded-full dark:bg-gray-700 w-12
            mb-6 mt-1"></div>
        </h3>
        <div class="flex items-center mb-2">
          <div class="w-64 text-sm font-medium text-gray-500
            dark:text-gray-400">
            <div class="h-3 bg-gray-200 rounded-full dark:bg-gray-700 w-24
              mb-2"></div>
          </div>
          <div class="w-full text-sm font-medium dark:text-white text-right">
            <div class="h-3 bg-gray-200 rounded-full dark:bg-gray-700 w-4
              float-right"></div>
          </div>
        </div>
        <div class="flex items-center mb-2">
          <div class="w-64 text-sm font-medium text-gray-500
            dark:text-gray-400"><div class="h-3 bg-gray-200 rounded-full
              dark:bg-gray-700 w-24 mb-2"></div></div>
          <div class="w-full text-sm font-medium dark:text-white text-right">
            <div class="h-3 bg-gray-200 rounded-full dark:bg-gray-700 w-4
              float-right"></div>
          </div>
        </div>
        <div class="flex items-center mb-2">
          <div class="w-64 text-sm font-medium text-gray-500
            dark:text-gray-400"><div class="h-3 bg-gray-200 rounded-full
              dark:bg-gray-700 w-24 mb-2"></div></div>
          <div class="w-full text-sm font-medium dark:text-white text-right">
            <div class="h-3 bg-gray-200 rounded-full dark:bg-gray-700 w-4
              float-right"></div>
          </div>
        </div>
        <div class="flex items-center mb-2">
          <div class="w-64 text-sm font-medium text-gray-500
            dark:text-gray-400"><div class="h-3 bg-gray-200 rounded-full
              dark:bg-gray-700 w-24 mb-2"></div></div>
          <div class="w-full text-sm font-medium dark:text-white text-right">
            <div class="h-3 bg-gray-200 rounded-full dark:bg-gray-700 w-4
              float-right"></div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="items-center justify-between p-2 bg-white border border-warning-200
      rounded-lg shadow-sm sm:flex dark:border-warning-700 sm:p-6
      dark:bg-gray-800">
      <div class="w-full">
        <h3 class="mb-4 text-base font-normal text-gray-500
          dark:text-gray-400">
          <div class="h-4 bg-gray-200 rounded-full dark:bg-gray-700 w-12
            mb-6 mt-1"></div>
        </h3>
        <div class="flex items-center mb-2">
          <div class="w-16 text-sm font-medium text-gray-500
            dark:text-gray-400"><div class="h-3 bg-gray-200 rounded-full
              dark:bg-gray-700 w-24 mb-2"></div></div>
          <div class="w-full text-sm font-medium dark:text-white text-right">
            <div
              class="h-3 bg-gray-200 rounded-full dark:bg-gray-700 w-4
              float-right"></div></div>
        </div>
        <div class="flex items-center mb-2">
          <div class="w-16 text-sm font-medium text-gray-500
            dark:text-gray-400"><div class="h-3 bg-gray-200 rounded-full
              dark:bg-gray-700 w-24 mb-2"></div></div>
          <div class="w-full text-sm font-medium dark:text-white text-right"><div
              class="h-3 bg-gray-200 rounded-full dark:bg-gray-700 w-4
              float-right"></div></div>
        </div>
      </div>
    </div>
  </div>
  <span class="sr-only">Loading...</span>
</div>
<div class="px-2 pt-4" *ngIf="!isLoading">
  <div
    class="grid w-full grid-cols-1 gap-4 mt-4 xl:grid-cols-2 2xl:grid-cols-3">
    <div
      class="items-center justify-between p-2 bg-white border border-warning-200
      rounded-lg shadow-sm sm:flex dark:border-warning-700 sm:p-6
      dark:bg-gray-800">
      <div class="w-full">
        <h3 class="mb-4 text-base font-normal text-warning-600">
          NFT
        </h3>
        <div class="flex items-center mb-2">
          <div class="w-16 text-sm font-medium text-warning-500">Characters</div>
          <div class="w-full text-sm font-medium dark:text-white text-right">{{nfts.characters}}</div>
        </div>
        <div class="flex items-center mb-2">
          <div class="w-16 text-sm font-medium text-warning-500">Weapons</div>
          <div class="w-full text-sm font-medium dark:text-white text-right">{{nfts.weapons}}</div>
        </div>
        <div class="flex items-center mb-2">
          <div class="w-16 text-sm font-medium text-warning-500">Shields</div>
          <div class="w-full text-sm font-medium dark:text-white text-right">{{nfts.shields}}</div>
        </div>
      </div>
    </div>
    <div
      class="items-center justify-between p-2 bg-white border border-warning-200
      rounded-lg shadow-sm sm:flex dark:border-warning-700 sm:p-6
      dark:bg-gray-800">
      <div class="w-full">
        <h3 class="mb-4 text-base font-normal text-warning-600">
          Balance
        </h3>
        <div class="flex items-center mb-2">
          <div class="w-64 text-sm font-medium text-warning-500">{{web3Service.getChainSymbol()}}</div>
          <div class="w-full text-sm font-medium dark:text-white text-right">{{formatNumber(balances.gas)}}{{configService.display ? ' (' + utilService.convertGasToLocalCurrency(balances.gas, prices, configService.currency) +')' : ''}}</div>
        </div>
        <div class="flex items-center mb-2">
          <div class="w-64 text-sm font-medium text-warning-500">{{configService.version === 2 && configService.chain === 'BNB' ? 'VALOR' : 'SKILL'}} in Wallet</div>
          <div class="w-full text-sm font-medium dark:text-white text-right">{{formatNumber(balances.wallet)}}{{configService.display ? ' (' + utilService.convertTokenToLocalCurrency(balances.wallet, configService.version, prices, configService.currency) + ')' : ''}}</div>
        </div>
        <div class="flex items-center mb-2">
          <div class="w-64 text-sm font-medium text-warning-500">Unclaimed {{configService.version === 2 && configService.chain === 'BNB' ? 'VALOR' : 'SKILL'}}</div>
          <div class="w-full text-sm font-medium dark:text-white text-right">{{formatNumber(balances.unclaimed)}}{{configService.display ? ' (' + utilService.convertTokenToLocalCurrency(balances.unclaimed, configService.version, prices, configService.currency) + ')' : ''}}</div>
        </div>
        <div class="flex items-center mb-2">
          <div class="w-64 text-sm font-medium text-warning-500">Claimable {{configService.version === 2 && configService.chain === 'BNB' ? 'VALOR' : 'SKILL'}}</div>
          <div class="w-full text-sm font-medium dark:text-white text-right">{{formatNumber(balances.claimable)}}{{configService.display ? ' (' + utilService.convertTokenToLocalCurrency(balances.claimable, configService.version, prices, configService.currency) + ')' : ''}}</div>
        </div>
      </div>
    </div>
    <div
      class="items-center justify-between p-2 bg-white border border-warning-200
      rounded-lg shadow-sm sm:flex dark:border-warning-700 sm:p-6
      dark:bg-gray-800">
      <div class="w-full">
        <h3 class="mb-4 text-base font-normal text-warning-600">
          Price
        </h3>
        <div class="flex items-center mb-2">
          <div class="w-16 text-sm font-medium text-warning-500">{{web3Service.getChainSymbol()}}</div>
          <div class="w-full text-sm font-medium dark:text-white text-right"
            *ngIf="!isLoadingCurrency">{{formatPrice(prices.gas)}}</div>
          <div role="status" class="w-full text-sm font-medium dark:text-white
            text-right animate-pulse" *ngIf="isLoadingCurrency">
            <div
              class="h-3 bg-gray-200 rounded-full dark:bg-gray-700 w-4
              float-right">
            </div>
          </div>
        </div>

        <div class="flex items-center mb-2">
          <div class="w-16 text-sm font-medium text-warning-500">SKILL</div>
          <div class="w-full text-sm font-medium dark:text-white text-right"
            *ngIf="!isLoadingCurrency">{{formatPrice(prices.skill)}}</div>
          <div role="status" class="w-full text-sm font-medium dark:text-white
            text-right animate-pulse" *ngIf="isLoadingCurrency">
            <div
              class="h-3 bg-gray-200 rounded-full dark:bg-gray-700 w-4
              float-right">
            </div>
          </div>
        </div>

        <div class="flex items-center mb-2" *ngIf="configService.chain ===
          'BNB'">
          <div class="w-16 text-sm font-medium text-warning-500">VALOR</div>
          <div class="w-full text-sm font-medium dark:text-white text-right"
            *ngIf="!isLoadingCurrency">{{formatPrice(prices.valor)}}</div>
          <div role="status" class="w-full text-sm font-medium dark:text-white
            text-right animate-pulse" *ngIf="isLoadingCurrency">
            <div
              class="h-3 bg-gray-200 rounded-full dark:bg-gray-700 w-4
              float-right">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pt-4 flex justify-center items-center text-center">
  <app-ads provider="a-ads" type="468x60" dynamic="468x60"></app-ads>
</div>
