#modal-add-account.modal.fade(tabindex='-1' role='dialog' style='display: none;' aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role="document")
    .modal-content.bg-dark
      .modal-header
        h5.modal-title.text-white
          | Add Account
        button(type="button", class="btn-close", data-bs-dismiss="modal", aria-label="Close")
      .modal-body
        form
            .p.text-white.mb-3 Add the account you want to capture fight results
            .form-group.mb-3
                input#logger-address.form-control.form-control.bg-dark(type='text' placeholder='Address')
            button.btn.btn-secondary.float-right(type='button' onclick='addAccount()')
                | Add

#modal-import.modal.fade(tabindex='-1' role='dialog' style='display: none;' aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role="document")
    .modal-content.bg-dark
      .modal-header
        h5.modal-title.text-white
          | Import List
        button(type="button", class="btn-close", data-bs-dismiss="modal", aria-label="Close")
      .modal-body
        form
          .p.text-white.mb-3 Import a text file with account address list.<br><code>1 Line = 1 Address</code>
          .form-group.mb-3
            input#file-import.form-control(type='file' style='padding: .425rem 1.225rem !important')
          button.btn.btn-secondary.float-right(type='button' onclick='importList()') Import