footer.footer
    p.fs-sm.text-center.mb-0.pb-2
        // Google Adsense
        script(async='' src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4276954411890126' crossorigin='anonymous')
        // CryptoBlade
        ins.adsbygoogle(style='display:block' data-ad-client='ca-pub-4276954411890126' data-ad-slot='2267717609' data-ad-format='auto' data-full-width-responsive='true')
        script.
            (adsbygoogle = window.adsbygoogle || []).push({});
    p.fs-sm.text-center.mb-0.pb-1
        span.text-warning.opacity-50.me-1 CryptoBlades Tracker is not associated with CryptoBlades.
    p.fs-sm.text-center.mb-0.pb-2
        span.text-light.opacity-50.me-1 Made by
        a.nav-link-style.nav-link-light.text-white(href='https://github.com/ed3ath' target='_blank' rel='noopener') eD3ath
        | &nbsp;with
        span.opacity-50.me-1(style='color: red;') &nbsp;&hearts;&hearts;&hearts;
    p.fs-sm.text-center.mb-0.pb-5
        | Donation address: 
        span.text-white 0x2548696795a3bCd6A8fAe7602fc26DD95A612574
