footer.footer
    p.fs-sm.text-center.mb-0.pb-1
        span.text-danger.opacity-50.me-1 CryptoBlades Tracker is not associated with CryptoBlades.
    p.fs-sm.text-center.mb-0.pb-5
        span.text-light.opacity-50.me-1 Made by&nbsp;
        a.nav-link-style.nav-link-light(href='https://github.com/ed3ath' target='_blank' rel='noopener') eD3ath
