main.page-wrapper
  .position-relative.zindex-5.pb-4.mb-md-3.mx-5(style='margin-top: 20px;')
    .row.mx-n2.py-2
      .col-md-8.col-sm-6.px-2
        h1.text-white CryptoBlades Tracker        
      .col-md-4.col-sm-6.px-2
        select#select-currency.form-select2(style='float: right;')
    .row
      .col-md-12.mb-4
        .card.h-100.rounded-3.p-3.text-white.bg-danger
          p CryptoBlades Tracker is open-source so anyone can create a clone and modify it to ask for your sensitive information. CryptoBlades Tracker <b>will never ask</b> for your seed phrase or private key! <b>Never share these information</b> to any site nor your friends. <b>CryptoBlades Tracker will only require you to enter your BSC address and nothing else</b>. Stay safe!   
    .row.mx-n2.py-2
      .col-md-2.col-sm-6.px-2.mb-3
        .card.h-100.rounded-3.p-4.text-center.text-white.bg-dark
          h6.fs-sm.fw-medium.text-muted Total In-game Skills
          p#card-ingame.h4.mb-2.text-white 0
      .col-md-2.col-sm-6.px-2.mb-3
        .card.h-100.rounded-3.p-4.text-center.text-white.bg-dark
          h6.fs-sm.fw-medium.text-muted Total Unclaimed Skills
          p#card-uskills.h4.mb-2.text-white 0
      .col-md-2.col-sm-6.px-2.mb-3
        .card.h-100.rounded-3.p-4.text-center.text-white.bg-dark
          h6.fs-sm.fw-medium.text-muted Total Staked Skills
          p#card-sskills.h4.mb-2.text-white 0      
      .col-md-2.col-sm-6.px-2.mb-3
        .card.h-100.rounded-3.p-4.text-center.text-white.bg-dark
          h6.fs-sm.fw-medium.text-muted Total Skills in Wallet
          p#card-balance.h4.mb-2.text-white 0
      .col-md-2.col-sm-6.px-2.mb-3
        .card.h-100.rounded-3.p-4.text-center.text-white.bg-dark
          h6.fs-sm.fw-medium.text-muted Total Skill Assets
          p#card-sassets.h4.mb-2.text-white 0
      .col-md-2.col-sm-6.px-2.mb-3
        .card.h-100.rounded-3.p-4.text-center.text-white.bg-dark
          h6.fs-sm.fw-medium.text-muted Total BNB Balance
          p#card-bnb.h4.mb-2.text-white 0
    .row.mx-n2.py-2
      .col-md-4.col-sm-6.px-2.mb-3
        .card.h-100.rounded-3.p-4.text-center.text-white.bg-dark
          h6.fs-sm.fw-medium.text-muted Total Accounts
          p#card-acc.h4.mb-2.text-white 0
      .col-md-4.col-sm-6.px-2.mb-3
        .card.h-100.rounded-3.p-4.text-center.text-white.bg-dark
          h6.fs-sm.fw-medium.text-muted Current Skill Price
          p#card-price.h4.mb-2.text-white 0
      .col-md-4.col-sm-6.px-2.mb-3
        .card.h-100.rounded-3.p-4.text-center.text-white.bg-dark
          h6.fs-sm.fw-medium.text-muted Current Oracle Price
          p#card-oprice.h4.mb-2.text-white 0      
    .row.mx-n2.py-2
      .col-md-12.col-sm-126.px-2.mb-3
        .card.bg-dark
          .card-header
            .row.align-items-center
              .col
                h4.card-header-title.text-white
                  | Accounts
              .col-auto
                button.btn.btn-sm.btn-success(style='margin-right: 3px !important;' type='button' data-bs-toggle='modal' data-bs-target='#modal-import')
                  | Import
                button.btn.btn-sm.btn-warning(style='margin-right: 3px !important;' type='button' onclick='export_data()')
                  | Export
                button.btn.btn-sm.btn-danger(type='button' data-bs-toggle='modal' data-bs-target='#modal-add-account')
                  | Add Account
          .card-body
            .row
              .col-md-12
                button.btn.btn-sm.btn-light.mb-2.btn-refresh(type='button' onclick='refresh()')
                  | Refresh
                .form-check.form-switch(style='float: right;')
                  input#btn-privacy.form-check-input(type="checkbox")
                  label.form-check-label.text-white(for="btn-privacy") Hide address
              .col-md-12
                .table-responsive.mb-0
                  table#table-accounts.table.table-sm.card-table
                    thead.text-center
                      tr
                        th.text-white(data-field='address' data-formatter='nameFormatter')
                          | Name
                        th.text-white(data-field='address' data-formatter='privacyFormatter')
                          | Address
                        th.text-white(data-field='characters' data-formatter='charFormatter')
                          | Characters (ID | Level | Element | Unclaimed Exp | Target Level | Stamina)
                        th.text-white(data-field='balance' data-formatter='balanceFormatter')
                          | Skills Balance (In-Game | Unclaimed | Staked | Wallet)
                        th.text-white(data-field='total' data-formatter='currFormatter')
                          | Total Assets
                        th.text-white(data-field='timeLeft')
                          | Unstake Time
                        th.text-white(data-field='bnb' data-formatter='bnbFormatter')
                          | BNB Balance
                        th.text-white(data-field='action')
                          | Action
                    tbody.text-center
              .col-md-12.mt-2
                button.btn.btn-sm.btn-light.mb-2.btn-refresh(type='button' onclick='refresh()')
                  | Refresh
include footer