#modal-add-account.modal.fade(tabindex='-1' role='dialog' style='display: none;' aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role="document")
    .modal-content.bg-dark
      .modal-header
        h5.modal-title.text-white
          | Add a account
        button(type="button", class="btn-close", data-bs-dismiss="modal", aria-label="Close")
      .modal-body
        form
          .form-group.mb-3
            input#inp-name.form-control.form-control.bg-dark(type='text' placeholder='Account Name')
          .form-group.mb-3
            input#inp-address.form-control.form-control.bg-dark(type='text' placeholder='Address')
          button.btn.btn-secondary.float-right(type='button' onclick='addAccount()')
            | Add

#modal-rename-account.modal.fade(tabindex='-1' role='dialog' style='display: none;' aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role="document")
    .modal-content.bg-dark
      .modal-header
        h5.modal-title.text-white
          | Rename account
        button(type="button", class="btn-close", data-bs-dismiss="modal", aria-label="Close")
      .modal-body
        form
          .form-group.mb-3
            input#inp-rename.form-control.form-control.bg-dark(type='text' placeholder='Account Name')
            input#inp-readdress(type='hidden')
          button.btn.btn-secondary.float-right(type='button' onclick='renameAccount()') Save

#modal-combat.modal.fade(tabindex='-1' role='dialog' style='display: none;' aria-hidden='true')
  .modal-dialog.modal-dialog-centered.modal-lg(role="document")
    .modal-content.bg-dark
      .modal-header
        h5.modal-title.text-white
          | Combat Simulator
        button(type="button", class="btn-close", data-bs-dismiss="modal", aria-label="Close")
      .modal-body
        form
          .row
            .col-md-5.col-sm-6.px-2.mb-3
              .form-group.mb-3
                input#combat-name.form-control.form-control.bg-dark.text-white(type='text' placeholder='Account address' readonly)
                input#combat-address(type='hidden')
              .form-group.mb-3
                select#combat-character.form-control.form-control.bg-dark.text-white
                  option(value='') -- Select character --
              .form-group.mb-3
                select#combat-weapon.form-control.form-control.bg-dark.text-white
                  option(value='') -- Select weapon --
              .form-group.mb-3
                select#combat-stamina.form-control.form-control.bg-dark.text-white
                  option(value='') -- Select multiplier --
                  option(value='1') 40 stamina (x1)
                  option(value='2') 80 stamina (x2)
                  option(value='3') 120 stamina (x3)
                  option(value='4') 160 stamina (x4)
                  option(value='5') 200 stamina (x5)
            .col-md-7.col-sm-6.px-2.mb-3
              p#combat-result.text-white(align='center')
          button#btn-simulate.btn.btn-secondary.float-right(type='button' onclick='combatSimulate()') Run

#modal-import.modal.fade(tabindex='-1' role='dialog' style='display: none;' aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role="document")
    .modal-content.bg-dark
      .modal-header
        h5.modal-title.text-white
          | Import Data
        button(type="button", class="btn-close", data-bs-dismiss="modal", aria-label="Close")
      .modal-body
        form
          .p.text-white.mb-3 You may now import a text file with <code>Name,Address</code> format
          .form-group.mb-3
            input#file-import.form-control(type='file' style='padding: .425rem 1.225rem !important')
          button.btn.btn-secondary.float-right(type='button' onclick='import_data()') Import